<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <title>
    <%= title %>
  </title>
</head>

<body>
  <% include title.ejs %>

  <h2>Catálogo de anuncios de NodePop</h2>

  <div class="container">
    <% ads.forEach(elem=> { %>
      <p>Articulo <%= elem.name %>
          <%= elem.state %> y su precio es de <%= elem.price %> euros <img class="image"
                src="../images/<%= elem.img %>.jpg" />
              <% }) %>
      </p>

  </div>

</body>

</html>