<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel='stylesheet' href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />

  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="layout-header">
    <% include navbar.ejs %>

  </header>

  <% include title.ejs %>
    <main class="layout-main">

      <div class="form">
        <ul class="label">
          <li class="links-a">
            <a class="links-a" href="/range/559-800" rel="noreferrer noopener">
              price between 559 and 800
              euros
            </a>
          </li>
          <li class="links-a">
            <a class="links-a" href="/range/5000-20000" rel="noreferrer noopener">
              "price between 5000 and
              20000 Euro
            </a>
          </li>
          <li class="links-a">
            <a class="links-a" href="/range/-200" rel="noreferrer noopener">
              price less than or equal to
              200 Euro
            </a>
          </li>
          <li class="links-a">
            <a class="links-a" href="/range/-5000" rel="noreferrer noopener">
              price less than or equal to
              50000 Euro
            </a>
          </li>
          <li class="links-a">
            <a class="links-a" href="/range/15000-" rel="noreferrer noopener">
              price less than or equal to
              15000 Euro
            </a>
          </li>
          <li class="links-a">
            <a class="links-a" href="/range/5000-" rel="noreferrer noopener">
              price less than or equal to
              5000 Euro
            </a>
          </li>
          <li class="links-a">
            <a class="links-a" href="/range/659" rel="noreferrer noopener">
              exact price of 659 Euro
            </a>
          </li>
        </ul>
      </div>

      <div class="container">
        <% priceRange.forEach(elem=> { %>
          <p>
            Article
            <%= elem.name %>
              <%=elem.adStatus%>
                and its price is
                <%= elem.price %>
                  Euro
                  <img class="image" src="../images/<%= elem.img %>" /> <span class="span">
                    <%= elem.tags %>
                  </span>
                  <% }) %>
          </p>
      </div>



    </main>

    <% include footer.ejs %>